<div class="col-12 p-3">
	<a href="https://counter.opensuse.org/link">
		<img class="card w-100" src="https://counter.opensuse.org/wide"/>
	</a>
</div>
<div class="col-12 p-3">
	<div class="card">
		<div class="row mx-0">
			<div class="col-md-4 col-12 d-flex card-body">
				<h3 class="m-auto">Follow us!</h3>
			</div>
			<div class="col-md-2 col-6 d-flex px-0">
				<a class="d-flex card-body w-100 h-100 twitter-link" href="https://twitter.com/openSUSE">
					<h3 class="typcn typcn-social-twitter m-auto"></h3>
				</a>
			</div>
			<div class="col-md-2 col-6 d-flex px-0">
				<a class="d-flex card-body w-100 h-100 facebook-link" href="https://www.facebook.com/groups/opensuseproject/">
					<h3 class="typcn typcn-social-facebook m-auto"></h3>
				</a>
			</div>
			<div class="col-md-2 col-6 d-flex px-0">
				<a class="d-flex card-body w-100 h-100 google-plus-link" href="https://plus.google.com/110312141834246266844">
					<h3 class="typcn typcn-social-google-plus m-auto"></h3>
				</a>
			</div>
			<div class="col-md-2 col-6 d-flex px-0">
				<a class="d-flex card-body w-100 h-100 rss-link" href="/feed">
					<h3 class="typcn typcn-rss m-auto"></h3>
				</a>
			</div>
		</div>
	</div>
</div>
