<nav class="navbar navbar-expand-md navbar-light bg-light noprint">
  <a class="navbar-brand" href="/">
    <img src="https://static.opensuse.org/chameleon/dist/images/logo/logo-white.svg" class="mr-2" alt="Logo">
    <span>News</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-menu">
    <span class="navbar-toggler-icon"></span>
	</button>
  <div class="collapse navbar-collapse" id="site-menu">
    <div class="nav navbar-nav ml-auto">
      <div class="nav-item">
        <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <span class="fa fa-rss"></span>
          <span class="d-md-none">RSS Feed</span>
        </a>
      </div>
      <form class="form-inline" target="_blank" action="https://github.com/openSUSE/news-o-o/search" method="GET">
        <input id="searchbox" class="form-control" type="text" name="q" placeholder="Search" lang="en">
        <input type="hidden" value="Markdown" name="l">
      </form>
    </div>
  </div>
</nav>
