<nav class="navbar navbar-expand-md navbar-light bg-light noprint">
  <a class="navbar-brand" href="/">
    <img src="https://static.opensuse.org/chameleon/dist/images/logo/logo-white.svg" class="mr-2" alt="Logo">
    <span>News</span>
  </a>
  <button class="navbar-toggler darkmode-toggler ml-auto" type="button">
    <span class="navbar-toggler-icon darkmode-toggler-icon"></span>
  </button>
  <button class="navbar-toggler megamenu-toggler" type="button">
    <span class="navbar-toggler-icon megamenu-toggler-icon"></span>
  </button>
</nav>
