{% if paginator.total_pages > 1 %}
<div class="col-12 p-3 d-flex">
	<ul class="pagination mx-auto my-0">
		{% if paginator.previous_page %}
		<li class="page-item">
			<a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">
				&laquo;
			</a>
		</li>
		{% endif %}
		{% assign highest_number = paginator.total_pages | minus: 3 %}
		{% if paginator.page < 4 %}
			{% assign low_number = 1 %}
		{% elsif paginator.page > highest_number %}
			{% assign low_number = paginator.total_pages | minus: 4 %}
		{% else %}
			{% assign low_number = paginator.page | minus: 2 %}
		{% endif %}
		{% assign high_number = low_number | plus: 4 %}
		{% assign high_number = high_number | at_most: paginator.total_pages %}
		{% for page in (low_number..high_number) %}
			{% if page == paginator.page %}
			<li class="page-item active">
				<span class="page-link">
					{{ page }}
				</span>
			</li>
			{% else %}
			<li class="page-item">
				{% if page == 1 %}
					<a href="{{ '/' | relative_url}}" class="page-link">
						{{ page }}
					</a>
				{% else %}
					<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">
						{{ page }}
					</a>
				{% endif %}
			</li>
			{% endif %}
		{% endfor %}
		{% if paginator.next_page %}
		<li class="page-item">
			<a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
				&raquo;
			</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}
