<div id="carouselPosts" class="carousel slide carousel-fade mb-4" data-ride="carousel">
	<div class="carousel-inner">
		{% for post in site.posts limit:3 %}
		<a href="{{ post.url | prepend: site.baseurl }}" class="carousel-item{% if post == site.posts.first %} active{% endif %}">
			<img src="{% if post.image contains 'http' %}{% else %}{{ site.baseurl }}{% endif %}{{ post.image }}" class="d-block w-75 h-carousel ml-auto bg-light" alt="{{ post.title }}">
			<div class="carousel-caption d-flex">
				<h1 class="display-3 card-body my-auto font-weight-bold">{{ post.title }}</h1>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
<div class="d-flex">
	<img src="{{ site.baseurl }}/assets/css/news-icon.png" class="mx-auto">
</div>
