<div class="col-lg-6 col-12 p-3">
	<a class="text-black link_unstyled" href="{{ post.url | prepend: site.baseurl }}">
		<div class="card h-100">
			<div class="top-article bg-light d-flex border-bottom card-body" style="background-image: url('{% if post.image contains 'http' %}{% else %}{{ site.baseurl }}{% endif %}{{ post.image }}');">
				<h2 class="m-auto text-center ontop font-weight-bold">{{ post.title }}</h2>
			</div>
			<div>
				<div class="card-body">
					<div class="font-weight-bold text-muted d-flex justify-content-between align-items-center">
						<span>{{ post.author }}</span>
						<span>{{ post.date | date: "%-d. %b %Y" }}</span>
					</div>
					<div class="text-justify h-96px">
						<p>{{ post.content | strip_html | truncate: 175 }}</p>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>
