<div class="col-lg-6 col-12 p-3">
	<a class="text-black" href="{{ post.url | prepend: site.baseurl }}">
		<div class="card">
			<div class="top-article bg-light d-flex border-bottom card-body" style="background-image: url('{{ post.image }}');">
				<h2 class="m-auto text-center ontop">{{ post.title }}</h2>
			</div>
			<div class="card-body">
				<div class="font-weight-bold text-muted d-flex justify-content-between align-items-center">
					<span>{{ post.author }}</span>
					<span>{{ post.date | date: "%b %d, %Y" }}</span>
				</div>
				<div class="modal-open text-justify h-90px">
					<p>{{ post.content | strip_html | truncate: 175 }}</p>
				</div>
			</div>
		</div>
	</a>
</div>
